.about{
padding:100px 10%;
background:#081c3d;
}

.about h2{
font-size:42px;
margin-bottom:25px;
text-align:center;
}

.about p{
font-size:20px;
line-height:1.8;
max-width:1000px;
margin:auto;
text-align:center;
color:#ddd;
}

#skills{
padding:100px 10%;
background:#06152e;
}

#skills h2{
text-align:center;
font-size:42px;
margin-bottom:50px;
}

.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;
}

.skill-card{
background:rgba(255,255,255,0.08);
padding:30px;
border-radius:18px;
transition:.3s;
backdrop-filter:blur(10px);
}

.skill-card:hover{
transform:translateY(-8px);
box-shadow:0 0 20px rgba(0,229,255,.4);
}

.skill-card h3{
color:#00e5ff;
margin-bottom:15px;
}

.skill-card p{
color:#ddd;
line-height:1.6;
}
