
body{
font-family:Arial;
margin:0;
background:#f4f7fb;
color:#333;
}

header{
background:#0057b8;
color:white;
padding:40px;
text-align:center;
}

nav{
background:#003d82;
padding:15px;
text-align:center;
}

nav a{
color:white;
text-decoration:none;
margin:20px;
font-weight:bold;
}

section{
padding:40px;
}

.card{
background:white;
padding:20px;
margin:20px 0;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,.15);
}

footer{
background:#0057b8;
color:white;
text-align:center;
padding:15px;
}
